

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.secondary-bg{ background-color: #FFF8F3;}
.web{
   color: #4E47FF;
   font-size: 34px; 
}
.web2{
    font-weight: bold;
    font-size: 65px;
    width: 905px;
    height: 152px;
    text-align: center;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    padding: 12px 36px;
    border: none;
}
.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.name2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center{
    text-align: center;
    font-size: 45px;
}
.header{
    background-image: url("../images/Hero-bg.png");
}

.title{
    font-weight: bold;
    font-size: 42px;
}
.title-description{
    font-size: 22px;
    color: rgba(37, 36, 50, 0.5);

}
main{
    max-width: 1140;
    margin: 0 150px;
    margin-top: 126px;
}
.body1{
    display: flex;
    justify-content: space-between;
}
.body1-img{
  border-radius: 15px;

}

.title2{
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.banner{
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 116px;
    border-radius: 5px;
    padding: 50px 80px;
    max-height: 400px;
    font-family: Inter;
}
.item-title{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.item-description{
    font-size: 20px;
    color: rgba(37, 36, 50, 0.5);
}
.body2{
    display: flex;
    align-items: center;
    gap: 115px;
}
.title3{
    font-weight: bold;
    font-size: 97px;
}
section input[type="text"], input[type="email"]{
    height:70px;
    width: 95%;
    padding: 20px 30px;
    border: none;
}
.message{
      height:140px;
    width: 95%;
    padding: 20px 30px;
}
.btn-secondary{
    margin-top: 30px;
    width: 95%;
}
.column2{
    width: 50%;
}
.footer-bg{
    background-color: white;

}
.title3{
    color: #000000;
}
.name3{
    padding: 103px 474px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-description{
    font-family: Inter;
    text-align: center;
}
body li{
    list-style: none;
}
body ul a{
    text-decoration: none;
    color:black;
}
.list-item{
    display: flex;
    gap: 20px;
}
.column111{
    display: flex;
}
.column11{
    display: flex;
    background-color: whitesmoke;
}
